{% extends 'header.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="card Change-password p-4">
                <div class="card-body">
                    <h2 class="text-center mb-4 fw-bold">Change password</h2>
                    {% if msg %}
                        <p style="color: green; font-size: 16px; font-weight: 600;">{{msg}}</p>
                    {% endif %}
                    <form action="{% url 'change-password' %}" method="post" name="'change-password">
                        {% csrf_token %} 
                        <div class="mb-3">
                            <label class="form-label">Old password</label>
                            <input type="password" name="oldpassword" class="form-control" placeholder="Enter old password">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">New password</label>
                            <input type="password" name="newpassword" class="form-control" placeholder="Enter new password">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirm password</label>
                            <input type="password" name="cnpassword" class="form-control" placeholder="Enter confirm password">
                        </div>
                        
                        <div class="d-grid">
                            <button type="submit" name="change-password" class="btn btn-custom text-white btn-lg">
                                Change password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
{% endblock %}