{% extends 'header.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row">
        <div class="col-md-12 mx-auto ">
            <div class="card profile p-4">
                <div class="card-body">
                    <h2 class="text-center mb-4 fw-bold">profile</h2>
                    {% if msg %}
                        <p style="color: green; font-size: 16px; font-weight: 600;">{{msg}}</p>
                    {% endif %}
                    <form action="{% url 'profile' %}" method="post" name="profile">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label">First Name</label>
                                <input type="text" name="fname" class="form-control" placeholder="Enter first name" value="{{user.fname}}">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Last Name</label>
                                <input type="text" name="lname" class="form-control" placeholder="Enter last name" value="{{user.lname}}">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Enter email address" readonly value="{{user.email}}">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Mobile</label>
                            <input type="tel" name="mobile" class="form-control" placeholder="Enter mobile number" value="{{user.mobile}}">
                        </div>

                        <div class="mb-4">
                            <label class="form-label">Address</label>
                            <textarea class="form-control" name="address" rows="3" placeholder="Enter your address">{{user.address}}</textarea>
                        </div>
                        <div class="d-grid">
                            <button type="submit" name="Update-profile" class="btn btn-custom text-white btn-lg">
                                Update profile
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
{% endblock %}