<!-- https://theme-gadgetly.myshopify.com/ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="shortcut icon" href="./image/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="./css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" >
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/uikit.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <title>Gadgetly - The mega store - All colletions</title>
</head>

<body>

    <!-- header start -->
    <header>
        <div class="top-header">
            <nav class="navbar navbar-expand-lg">
                <div class="container container-width">
                    <div class="top-header-container">
                        <div class="top-header-wrapper">
                            <div class="left-header">
                                <div class="dropdown toggle-menu">
                                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fa-solid fa-bars"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"><img src="./image/headphone-icon.png"
                                                    alt="headphone-icon" class="img-fluid"><span>catelog</span></a></li>
                                        <li><a class="dropdown-item" href="#"><img src="./image/desktop-icon.png"
                                                    alt="desktop-icon" class="img-fluid"><span>shop</span></a></li>
                                        <li><a class="dropdown-item" href="#"><img src="./image/mobile-icon.png"
                                                    alt="mobile-icon" class="img-fluid"><span>mobile</span></a></li>
                                        <li><a class="dropdown-item" href="#"><img src="./image/audio-player-icon.png"
                                                    alt="mobile-icon" class="img-fluid"><span>audio player</span></a>
                                        </li>
                                        <li><a class="dropdown-item" href="about-us.html"><img src="./image/camera-icon.png"
                                                    alt="mobile-icon" class="img-fluid"><span>about us</span></a></li>
                                        <li><a class="dropdown-item" href="contact-us.html"><img src="./image/microphone-icon.png"
                                                    alt="mobile-icon" class="img-fluid"><span>contact us</span></a></li>
                                        <li><a class="dropdown-item" href="#"><img src="./image/microchip-icon.png"
                                                    alt="mobile-icon" class="img-fluid"><span>grinder</span></a></li>
                                        <li><a class="dropdown-item" href="#"><img src="./image/wifi-icon.png"
                                                    alt="mobile-icon" class="img-fluid"><span>projecter</span></a></li>
                                        <li><a class="dropdown-item" href="#"><img src="./image/desktop-icon.png"
                                                    alt="mobile-icon" class="img-fluid"><span>laptop</span></a></li>
                                    </ul>
                                </div>
                                <a class="navbar-brand" href="index.html">
                                    <img src="./image/logo.webp" alt="logo" class="img-fluid">
                                </a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="bi bi-list"></i>
                                </button>
                            </div>
                            <div class="middle-header">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="search your product"
                                        aria-label="search your product here" title="Search your product here">
                                    <div class="dropdown">
                                        <button class="btn text-capitalize dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            all collation
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="all-collections.html">all collation</a></li>
                                            <li><a class="dropdown-item" href="product-detail.html">camera</a></li>
                                            <li><a class="dropdown-item" href="#">mobile</a></li>
                                            <li><a class="dropdown-item" href="#">headphone</a></li>
                                            <li><a class="dropdown-item" href="#">kichenware</a></li>
                                            <li><a class="dropdown-item" href="#">laptop & computer</a></li>
                                            <li><a class="dropdown-item" href="#">smart phone</a></li>
                                            <li><a class="dropdown-item" href="#">speakers</a></li>
                                        </ul>
                                    </div>
                                    <button class="btn main-btn" type="button"><i class="fa-solid fa-magnifying-glass"></i><span>search</span></button>
                                </div>
                            </div>
                            <div class="right-header">
                                <div class="wish">
                                    <ul class="wish-area">
                                        <li class="icon">
                                            <i class="bi bi-heart"></i>
                                        </li>
                                        <li class="icon">
                                            <i class="bi bi-repeat"></i>
                                            <span>0</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="contact">
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-headphones">
                                            <path d="M3 18v-6a9 9 0 0 1 18 0v6">
                                            </path>
                                            <path
                                                d="M21 19a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3zM3 19a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H3z">
                                            </path>
                                        </svg>
                                    </div>
                                    <div class="content">
                                        <h6 class="title"><a href="#">(+800) 123 456 7890</a></h6>
                                        <span>call us now</span>
                                    </div>
                                </div>
                                <div class="myaccount">
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-user">
                                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="12" cy="7" r="4"></circle>
                                        </svg>
                                    </div>
                                    <div class="myaccount-text">
                                        <h6 class="title">my account</h6>
                                        <span>login / Create account</span>
                                    </div>
                                </div>
                                <div class="checkout">
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-shopping-bag">
                                            <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                            <line x1="3" y1="6" x2="21" y2="6"></line>
                                            <path d="M16 10a4 4 0 0 1-8 0"></path>
                                        </svg>
                                    </div>
                                    <div class="checkout-text">
                                        <h6 class="title">checkout</h6>
                                        <span>$0.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="desktop-menu">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container container-width">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">headphone</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    mobile
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    laptop
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">laptop</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    blog
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    pages
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="about-us.html">about us</a></li>
                                    <li><a class="dropdown-item" href="contact-us.html">contact us</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 wish">
                            <ul class="wish-area">
                                <li class="icon">
                                    <img src="./image/heart.svg" alt="heart icon">
                                </li>
                                <li class="icon">
                                    <img src="./image/refresh.svg" alt="heart icon">
                                    <span>0</span>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main class="Colletions-content">
        <!-- breadcrumb start -->
        <div class="page-breadcrumb">
            <div class="container container-width">
                <div class="breadcrumb-wrapper">
                    <h5>colletions</h5>
                    <div class="breadcrumb-list">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html" class="transition"><i class="bi bi-house"></i></a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">colletions</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- colletions start -->
        <section class="colletions-area space-top space-bottom">
            <div class="container container-width">
                <div class="colletions-wrapper">
                    <div class="single-colletion">
                        <div class="card">
                            <a href="product-colletions.html">
                                <div class="img-box">
                                    <img src="./image/colletions-1.jpg" alt="colletions image"
                                        class="img-fluid transition">
                                </div>
                            </a>
                            <div class="content">
                                <h5 class="title"><a href="product-detail.html" class="transition">camera</a></h5>
                                <span>8 items</span>
                            </div>
                        </div>
                    </div>
                    <div class="single-colletion">
                        <div class="card">
                            <a href="product-colletions.html">
                                <div class="img-box">
                                    <img src="./image/colletions-2.jpg" alt="colletions image"
                                        class="img-fluid transition">
                                </div>
                            </a>
                            <div class="content">
                                <h5 class="title"><a href="product-colletions.html" class="transition">headphone</a></h5>
                                <span>7 items</span>
                            </div>
                        </div>
                    </div>
                    <div class="single-colletion">
                        <div class="card">
                            <a href="product-colletions.html">
                                <div class="img-box">
                                    <img src="./image/colletions-3.webp" alt="colletions image"
                                        class="img-fluid transition">
                                </div>
                            </a>
                            <div class="content">
                                <h5 class="title"><a href="product-colletions.html" class="transition">kitchenware</a></h5>
                                <span>5 items</span>
                            </div>
                        </div>
                    </div>
                    <div class="single-colletion">
                        <div class="card">
                            <a href="product-colletions.html">
                                <div class="img-box">
                                    <img src="./image/colletions-4.jpg" alt="colletions image"
                                        class="img-fluid transition">
                                </div>
                            </a>
                            <div class="content">
                                <h5 class="title"><a href="product-colletions.html" class="transition">laptop & computer</a></h5>
                                <span>18 items</span>
                            </div>
                        </div>
                    </div>
                    <div class="single-colletion">
                        <div class="card">
                            <a href="all-collections.html">
                                <div class="img-box">
                                    <img src="./image/colletions-5.jpg" alt="colletions image"
                                        class="img-fluid transition">
                                </div>
                            </a>
                            <div class="content">
                                <h5 class="title"><a href="all-collections.html" class="transition">smart phone</a></h5>
                                <span>6 items</span>
                            </div>
                        </div>
                    </div>
                    <div class="single-colletion">
                        <div class="card">
                            <a href="all-collections.html">
                                <div class="img-box">
                                    <img src="./image/colletions-6.jpg" alt="colletions image"
                                        class="img-fluid transition">
                                </div>
                            </a>
                            <div class="content">
                                <h5 class="title"><a href="all-collections.html" class="transition">speakers</a></h5>
                                <span>6 items</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer uk-scrollspy="cls: uk-animation-slide-bottom-medium;delay: 400; repeat: true">
        <div class="top-footer">
            <div class="container container-width">
                <div class="top-footer-wrapper">
                    <div class="single-block">
                        <h5 class="title"><i class="bi bi-envelope-at-fill"></i>Sign Up For Newsletter</h5>
                        <p>...and receive $20 coupon for first shopping</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="email@123.com"
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="main-btn" type="button" id="button-addon2"><span class="btn-icon"><i
                                        class="bi bi-chevron-right"></i></span><span
                                    class="btn-text">subscribe</span></button>
                        </div>
                    </div>
                    <div class="single-block">
                        <h5 class="title accordion-title">Follow Us</h5>
                        <div class="m-accordion">
                            <p>We make consolidating, marketing and tracking your social media website easy.</p>
                            <div class="social-link image-area">
                                <ul>
                                    <li><a href="#"><img src="./image/facebook.png" alt="facebook"
                                                class="img-fluid transition"></a></li>
                                    <li><a href="#"><img src="./image/twitter.png" alt="twitter"
                                                class="img-fluid transition"></a></li>
                                    <li><a href="#"><img src="./image/pinterest.png" alt="pinterest"
                                                class="img-fluid transition"></a></li>
                                    <li><a href="#"><img src="./image/instagram.png" alt="facebook"
                                                class="img-fluid transition"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="single-block">
                        <h5 class="title accordion-title">Download App</h5>
                        <div class="m-accordion">
                            <p>App is now available on App Store & Google Play. Get it now.</p>
                            <div class="image-area">
                                <a href="#">
                                    <img src="./image/google-play.png" alt="google play" class="img-fluid transition">
                                </a>
                                <a href="#" class="ms-2 d-block">
                                    <img src="./image/app-store.webp" alt="app store" class="img-fluid transition">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle-footer">
            <div class="container container-width">
                <div class="middle-footer-wrapper space-top space-bottom">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <div class="middle-footer-content">
                                <div class="call-us">
                                    <div class="icon"><i class="bi bi-headphones"></i></div>
                                    <div class="content">
                                        <p>Help Line No ? Call us 24/7</p>
                                        <a href="#" class="phone">+91 0123 456 789</a>
                                    </div>
                                </div>
                                <div class="contact-info">
                                    <h5 class="title accordion-title">Contact Information</h5>
                                    <div class="m-accordion">
                                        <ul>
                                            <div class="content">
                                                <p>Help Line No ? Call us 24/7</p>
                                                <a href="#" class="phone">+91 0123 456 789</a>
                                            </div>

                                            <li><i class="fa-solid fa-location-dot"></i>My Company, 42 Puffin street
                                                12345 Puffinville France</li>
                                            <li><a href="#"><i
                                                        class="fa-solid fa-envelope"></i>sales@yourcompany.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="middle-footer-content">
                                <div class="middle-footer-menu-wrapper">
                                    <div class="footer-menu">
                                        <h5 class="title accordion-title">Quick Links</h5>
                                        <div class="m-accordion">
                                            <ul>
                                                <li><a href="about-us.html">About us</a></li>
                                                <li><a href="#">Delivery</a></li>
                                                <li><a href="#">Legal Notice</a></li>
                                                <li><a href="#">FAQ's</a></li>
                                                <li><a href="#">Terms & Condition of Use</a></li>
                                                <li><a href="contact-us.html">Contact us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="footer-menu">
                                        <h5 class="title accordion-title">Our Company</h5>
                                        <div class="m-accordion">
                                            <ul>
                                                <li><a href="contact-us.html">Contact us</a></li>
                                                <li><a href="#">wishlist</a></li>
                                                <li><a href="#">compare</a></li>
                                                <li><a href="#">shipping</a></li>
                                                <li><a href="#">legal notice</a></li>
                                                <li><a href="about-us.html">about us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="middle-footer-content">
                                <h5 class="title accordion-title">Popular Tag</h5>
                                <div class="m-accordion">
                                    <ul class="footer-tag">
                                        <li><a href="#">Delivery</a></li>
                                        <li><a href="#">Faq's</a></li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="#">Wishlist</a></li>
                                        <li><a href="contact-us.html">Contact Us</a></li>
                                        <li><a href="#">Compare</a></li>
                                        <li><a href="#">Shipping</a></li>
                                        <li><a href="#">Legal Notice</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="middle-footter-bottom">
                    <ul>
                        <li><a href="#"><img src="./image/middle-footer1.webp" alt="image"
                                    class="img-fluid transition"></a>
                        </li>
                        <li><a href="#"><img src="./image/middle-footer2.webp" alt="image"
                                    class="img-fluid transition"></a>
                        </li>
                        <li><a href="#"><img src="./image/middle-footer3.avif" alt="image"
                                    class="img-fluid transition"></a>
                        </li>
                        <li><a href="#"><img src="./image/middle-footer4.avif" alt="image"
                                    class="img-fluid transition"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="bottom-footer">
            <div class="container container-width">
                <p>Copyright © 2023 <a href="#" class="transition">Theme: Gadgetly </a> | <a href="#"
                        class="transition">Powered by Shopify</a></p>
            </div>
        </div>
        </div>
        </div>
    </footer>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./js/uikit.min.js"></script>
    <script src="./js/uikit-icons.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>