{% extends 'header.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    
    <h1>Contact</h1>
    <form action="" method="post" name="contact">
        <table class="mx-auto">
            <tr>
                <td>Name: </td>
                <td><input type="text" class="form-control" name="name"></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input type="email" class="form-control" name="email"></td>
            </tr>
            <tr>
                <td>Mobile: </td>
                <td><input type="text" class="form-control" name="mobile"></td>
            </tr>
            <tr>
                <td>Message: </td>
                <td>
                    <textarea name="Message" id="" cols="30" name="message" rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" class="form-control btn btn-primary" name="submit" value="Submit">
                </td>
            </tr>
        </table>
    </form>
    
</body>
</html>
{% endblock %}