{% extends 'header.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>
<body>
    <h1>Change Password</h1>
    {% if msg %}
        <p style="color: Green; font-size:  18px; text-align: center; text-transform: capitalize;">{{msg}}</p>
    {% endif %}
    <center>
    <div class="change-password">
        <form action="{% url 'change-password' %}" method="post" name="change-password">
            {% csrf_token %}
            <table>
                <tr>
                    <td class="form-label" for="old_password">Old password:</td>
                    <td><input type="password" id="old_password" class="form-control" name="old_password"></td>
                </tr>
                <tr>
                    <td class="form-label" for="new_password">New password:</td>
                    <td><input type="password" id="new_password" class="form-control" name="new_password"></td>
                </tr>
                <tr>
                    <td class="form-label" for="cnew_password">Confim Password:</td>
                    <td><input type="password" id="cnew_password" class="form-control" name="cnew_password"></td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn btn-primary" value="change password"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
{% endblock %}