{% extends 'header.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
</head>
<body>
    <center>
    <h1>Sign up</h1>
       <div class="contact">
        {% if msg %}
            <b style="color: blue;">{{msg}}</b>
        {% endif %}
        <form action="{% url 'signup' %}" method="post" name="signup">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="fname" class="form-label">first name: </label></td>
                    <td><input type="text" name="fname" class="form-control" id="fname"></td>
                </tr>
                <tr>
                    <td><label for="lname" class="form-label">Last name: </label></td>
                    <td><input type="text" name="lname" class="form-control" id="lname"></td>
                </tr>
                <tr>
                    <td><label for="email" class="form-label">Email: </label></td>
                    <td><input type="email" name="email" class="form-control" id="email"></td>
                </tr>
                <tr>
                    <td><label for="mobile" class="form-label">Mobile: </label></td>
                    <td><input type="mobile" name="mobile" class="form-control" id="mobile"></td>
                </tr>
                <tr>
                    <td><label for="address" class="form-label" >Address: </label></td>
                    <td><textarea name="address" rows="5" cols="30" class="form-control" id="address"></textarea></td>
                </tr>
                <tr>
                    <td><label for="password" class="form-label">Password: </label></td>
                    <td><input type="password" name="password" class="form-control" id="password"></td>
                </tr>
                <tr>
                    <td><label for="cpassword" class="form-label">Confirme Password: </label></td>
                    <td><input type="Password" name="cpassword" class="form-control" id="cpassword"></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="SUBMIT" name="submit" class="btn btn-primary">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    </center>
</body>
</html>
{% endblock %}