{% extends 'header.html' %}
{% load static %}
{% block content %}

<!doctype html>
<html lang="en">
<head>
</head>

<body>

    <main class="account-content">
        <section class="breadcrumb-wrapper">
            <div class="breakcrumb-content">
                <h2 class="breadcrumb-title">account</h2>
                <nav aria-label="breadcrumb">
                    <div class="container-fluid px-0 overflow-hidden">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">account</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </section>

        <!-- login start -->
        <section class="user-account">
            <div class="container">
                <div class="login-wrapper">
                    <form action="">
                        <h2 class="title">sign in</h2>
                        <div class="form-top">
                            <div>
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div>
                                <input type="password" class="form-control" placeholder="Email" value="123456">
                            </div>
                            <div class="text-center">
                                <a href="#" class="main-btn">sign in</a>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <a href="forgot-password.html">forgot ypur password?</a>
                            <a href="{% url 'signup' %}">sing up</a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </section>
        <!-- login end -->

        <!-- subscribe start -->
        <section class="subscribe">
            <div class="container">
                <div class="contact-wrapper">
                    <div class="contact-box">
                        <i class="fa-solid fa-envelope"></i>
                        <p><a href="#">info@example.com</a></p>
                        <p><a href="#">support@example.com</a></p>
                    </div>
                    <div class="contact-box">
                        <i class="fa-solid fa-phone"></i>
                        <p><a href="#">000 - 123 - 456789</a></p>
                        <p><a href="#">000 - 123 - 446789</a></p>
                    </div>
                    <div class="contact-box">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>No: 58 A, East Madison</p>
                        <p>Street, Baltimore, USA</p>
                    </div>
                </div>

            </div>
        </section>
        <!-- subscription end -->
    </main>
</body>

</html>

{% endblock %}