<!-- figma link: https://www.figma.com/design/RaEL06DNDxgc2lZpEjVOIW/75--Ecommerce---Shop-MultiPurpose-Template--Community-?node-id=0-1&p=f&t=gY0xjwTJUxuDcSBq-0 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>swoo tech mart</title>
</head>

<body>
    <!-- header start -->
    <header>
        <div class="top-header">
            <div class="top-header-left">
                <span class="hotline">hotline 24-/7</span>
                <span class="number">(025) 3886 25 16</span>

            </div>
            <div class="top-header-right">
                <div class="header-right-span">
                    <span>Sell on Swoo</span>
                    <span>Order Tracki</span>
                </div>
                <div class="header-country">
                    <select name="currency">
                        <option value="USD">USD</option>
                        <option value="USD">USD</option>
                        <option value="USD">USD</option>
                        <option value="USD">USD</option>
                    </select>
                    <select name="langauge">
                        <option value="Eng">eng</option>
                        <option value="ES">Spanish</option>
                        <option value="FR">French</option>
                        <option value="DE">German</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="middle-header"></div>
        <div class="bottom-header"></div>
    </header>
    <!-- header end -->
</body>

</html>